*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.logoch{
    width: 250px;    
}
.grama{
    position: absolute;
    bottom: 82.2px;
    height: auto;
    top: 60px;
    width: 20px;
    left: 2%;
}

  
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .header{
    box-shadow: 2px 5px 5px #e2725b;
    height: 80px;
    padding: 0 10%;
    justify-content: space-between;
 }
 .navigation_header{
    gap: 3em;
    z-index: 2;
 }
 .navigation_header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1s;
    font-weight: bold;
    
 }
 .navigation_header a:hover{
    color: rgb(22, 250, 41);
 }
 .active{
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
 }
 .content{
    text-align: center;
    padding: 5em;
    height: 100vh;
    transition: 1s;
 }
 .btn_icon_header{
    background-color: transparent;
    border: none;
    color: #ffff;
    cursor: pointer;
    display: none;
 }
 @media screen and (max-width: 760px){
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: black;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    @keyframes showSidebar {
        from{margin-left: -100vw};
        top {margin-left: -10vw;}
        
    }
 }


